include AUTHORS
include LICENSE
include README.rst

include gears/compilers/*.js
include gears/compressors/*.js

include tests/*.py
recursive-include tests/fixtures *
recursive-include tests/assets *
